# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Directories
**/cities_and_regions/
**/data/raw/
**/data/output/

# Files
*.so
*.swp

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter notebooks
.ipynb_checkpoints

# pyenv
.python-version

# mkdocs documentation
/site
